<div class="pusher" >
  <div class="ui inverted vertical masthead segment">
    <div clas="ui grid">
       <div class="ui horizontal segments" >
           <div class="ui segment">
                 <div class="twelve wide column left aligned">
                     <strong>{{problem.name}}</strong><br/>
                 </div>
                 <div class="four wide column right aligned">
                   {{problem.description}}
                 </div>
             </div>
           </div>

        </div>
</div>
</div>
